.select {
  width: 100%;
}

th {
  font-weight: bold !important;
}

th, td {
  display: flex !important;
  align-items: center;
}

.tableWrapper {
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
}

table {
  border-spacing: 0;

  tr {
    :last-child {
      td {
        border-bottom: 0;
      }
    }
  }

  th,
  td {
    margin: 0;
    padding: 0.5rem;

    input {
      width: 100%;
      background: transparent;
      font-size: 1rem;
      padding: 0;
      margin: 0;
      border: 0;
    }
  }
}

button {
  cursor: pointer;
}

.pagination {
  padding: 0.5rem;
}

tr {
  transition: 0.2s all ease-in;
}

.activeRow {
  background: gold;
}

.hidden {
  background: gray;
}

.container {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  height: 100%;

  align-items: center;
}

.imageAvatar {
  cursor: pointer;
  border-radius: 5px;
  max-width: 100%;
  max-height: 75px;
}

.buttonContainer {
  width: 100%;
  display: flex;
  place-content: space-between;

  margin-top: 10px;
  margin-bottom: 10px;

  .buttonGroup button:not(:last-child) {
    margin-right: 15px;
  }
}

.popUpBody {
  text-align: center;
}

.popUpHeader {
  text-align: center;
}

:global(.react-confirm-alert-button-group) {
  justify-content: center;
}

:global(.MuiCheckbox-root) {
  padding: 0;
}
