

.container {
    -webkit-app-region: drag;

    display: inline-flex;
    flex-direction: column;
 
    &.horizontal {
        flex-direction: row;
        width: 100%;
        overflow-x: auto;
    }

    &.vertical {
        height: 100%;
        overflow-y: auto;
    }
}
