

.container {
    display: inline-flex;
    flex-direction: column;
 
    &.horizontal {
        flex-direction: row;
        width: 100%;
        overflow-x: scroll;
    }

    &.vertical {
        height: 100%;
        overflow-y: scroll;
    }
}
