.container {
  -webkit-app-region: drag;
  overflow: hidden !important;
  display: inline-flex;
  gap: 10px;

  width: 100%;

  &.horizontal {
    flex-direction: row;
    width: 100%;
  }

  &.vertical {
    flex-direction: column;
    height: 100%;
  }
}
